<!DOCTYPE html>

<html>

<head>
  <title> General Exise Tax  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/scripts/general_excise.js"></script>
  <script src="/scripts/utils.js"></script>
  <!----<link href="/styles/setting.css" type="text/css" rel="stylesheet">-->
</head>


<body>
  <!----<nav id="navigation"></nav>-->

  <div id='main'>
    <form enctype="multipart/form-data">
      <input name="file" type="file" />
      <input type="button" value="Upload" />
    </form>
    <progress></progress>
  </div>
</body>

</html>
