<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Production</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Scripts/Links for datables


  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
  <script type="text/javascript" src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js'></script>
  <script type="text/javascript" src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js'></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js'></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js'></script>
  <script type="text/javascript" src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js'></script>
  <script type="text/javascript" src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js'></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"/>
-->

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/r-2.2.2/datatables.min.css" />

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/r-2.2.2/datatables.min.js"></script>



  <!-- Scripts/Links for Chart JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <script src="/public/scripts/utils.js"></script>
  <link href="/public/stylesheets/production.css" type="text/css" rel="stylesheet">
  <script src="/public/scripts/production.js"></script>


</head>

<body>
  <nav id="navigation"></nav>

  <div id="main_content">

    <div id='enter_production'></div>

    <button id="open_form" type="button"> + </button>

    <!--div id="chart">
      <div class="chart1">
        <canvas id="myChart"></canvas>
      </div>
    </div>-->

    <div id="inventory_dashboard">
        <div class="tab_header">
          <button class="tablink" name="finished_goods" id="defaultOpen"> Finished Goods </button>
          <button class="tablink" name="raw_material"> Raw Materials </button>
          <button class="tablink" name="supplies"> Supplies </button>
        </div>
  
        <div class="tab_body">
          <div id="finished_goods" class="tabcontent finished_goods">
            <table id="finished_good_table">
              <tr>
                <th> Item </th>
                <th> Last Cost </th>
                <th> Quantity </th>
              </tr>
            </table>
          </div>
          <div id="raw_material" class="tabcontent raw_material">
            <table id="raw_ingredient_table">
              <tr>
                <th> Item </th>
                <th> Last Cost </th>
                <th> Quantity</th>
              </tr>
            </table>
          </div>
          <div id="supplies" class="tabcontent supplies">
            <table id="supplies_table">
              <tr>
                <th> Item </th>
                <th> Last Cost </th>
                <th> Quantity</th>
              </tr>
            </table>
          </div>
      </div>
    </div>

  
    <div id="production_table">
      <div id="date_range">
        <label for="start" class='date_selector'> From: </label>
        <input type="date" id="start" name="start"/>
        <label for="end" class='date_selector'> To: </label>
        <input type="date" id="end" name="end"/>
      </div>

      <div id="view_batch"></div>

        <table id="myTable" class="display nowrap" style="width:100%">
          <thead>
            <th> </th>
            <th> Batch</th>
            <th> Item </th>
            <th> Production Date </th>
            <th> Quantity </th>
            <th> Cost </th>
            <th> Waste </th>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>

  </div>

</body>

</html>
