* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #393A3D;
}

#main_content{
  transition: margin-left .2s;
}

h1{
  display: inline;
  font-family: "Quicksand",sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  padding-left: 10px;
  margin-top: 10px;
}

form{
  width: 60%;
  margin: auto;
  background-color: white;
  border: 1px solid #D4D7DC;
  border-radius: 3px;
  margin-top: 50px;
  padding: 20px 30px 20px 40px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
}

fieldset{
  display: block;
  width: 100%;
  padding: 10px 0 0 0;
  margin: auto;
  border: none;
  position: relative;
}

label{
  display: inline-block;
  float: left;
  font-size: 0.75rem;
  width: 40%;
  padding: 10px;
  background-color:	 #98bbcc;
  color:#003333;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: none;
}

input{
  display:inline-block;
  float: left;
  border: none;
  margin: none;
  width: 50%;
  border: 1px solid #98bbcc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 9px;
  font-size: 0.75rem;
  color: lightslategray;
}

fieldset > .material-icons{
  display: inline-block;
  float: right;
  color: rgb(175, 177, 184);
}

fieldset > .edit:hover{
  cursor: pointer;
  color: #E43834;
}

fieldset > .save:hover{
  cursor: pointer;
  color: #2CA01C;
}

input:focus{
  outline: none;
}

.active{
  color: #E43834;
  border: 1px solid #E43834;
  border-radius: 3px;
  background-color:white;
}

button{
  border: none;
}

img{
  display: inline;
  position: relative;
  right:10px;
  width: 100px;
  float: right;
  margin-bottom: 10px;
}
img:hover{
  cursor: pointer;
}
